/* 
================================================================================
COMPONENT STYLESHEET
================================================================================ */
html{font-size: 62.5%}
body{
    font: 300 1.6em/1.4 "proxima",san-serif;
    color: #777;
    background: #eaeaea;
}


section{
    max-width: 1000px;
    margin:0 auto;
    padding: 2rem;
    text-align: center ;
}

h2{
    font-size: 2.4rem;
    font-weight: 600;
    text-transform: uppercase;

}

h3{
    font-size: 1.8rem;
    padding-top: 2rem;
    color: #555;

}
/* Team Member ======================================== */

article{
    width:calc(25% - 4rem);
    margin: 0 2rem;
    float: left;
    /*border: solid 1px red;*/
    background: #fff;
}

img {
    border-radius: 50%;
}

li {
    display: inline-block;
}

li a{
    display: block;
    width: 2rem;
    height: 2rem;
    background: #ccc;
    text-indent: -9999px;
}

/*li a [href*='facebook']{*/
    /*background: url("images/facebook.jpg")no-repeat center;*/
/*}*/

/*li a [href*='twitter']{*/
    /*background: url("images/twiiter.jpg")no-repeat center;*/
/*}*/

/*li a [href*='google']{*/
    /*background: url("images/google.jpg")no-repeat center;*/
/*}*/


p:last-child a {
    position: relative;
    display: block;
    width: 2rem;
    height: 2rem;
    background: #333;
    border-radius:50% ;
    /*text-indent: -9999px;*/
}

p:last-child a::after {
    content: 'hello';
    display:block;
    position: absolute;
    top: 0.5rem;
    left: 0.5rem;
    width:0;
    height: 0;
    border-top: solid 1rem transparent ;
    border-bottom: solid 1rem transparent ;
    border-left: solid 1rem blue ;
}

/* HEADER ======================================== */