/* 
================================================================================
WSP COMPONENT LIBRARY STYLESHEET

colors I plan to use:
#F6B1C3 - light pink
#F0788C - deep pink
#DE264C - pinkish redish
#BC0D35 - red
#A20D1E - dark red



================================================================================ */
body{
    background:url('../img/panda-madness.gif') repeat;
    color: white;
}

#wrapper{
    margin: 0 auto 0 auto;
    width: 980px;
    background-color:hsla(350, 80%, 71%, .98) ;
    padding: 25px;
}


/* HEADER SPECIFIC ======================================== */
#change{
    width: 290px;
    /*height:100px ;*/
    /*background: url("../img/pda.png");*/
    margin: 0;
}

header h1{
    float: right;
}

header #change{
    margin:0;
}

/* ABOUT SPECIFIC ======================================== */

/* COMPONENTS SPECIFIC ======================================== */

.component{
    width: 960px;
    border: 5px solid #DE264C;
    margin-bottom: 6px;
    margin-top: 10px;
    border-radius: 6px;
    padding: 10px;
}